@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');
:root{
--Cyan: hsl(179, 62%, 43%);
--Bright-Yellow: hsl(71, 73%, 54%);
--Light-Gray: hsl(204, 43%, 93%);
--Grayish-Blue: hsl(218, 22%, 67%);
--Font-size: 16px;
--backg:rgb(240, 240, 240);
--withe:white;
--shadow:rgba(0, 0,0, 25%);

}
body{
    font-family: 'Karla', sans-serif;
    font-size: 16px;
    background-color: var(--backg);

}
.contenedor{
    width: 685px;
height: 415px;
    margin: auto;
    margin-top:50px ;
}
.contenedor div{
    display: block;
    padding: 20px;
    color:var(--withe);

}
/*-------------GRID---POSICIONAMENTO---------------------------*/
.contenedor{
    display: grid;
    grid-template-columns:repeat(2,1fr) ;
    grid-template-rows: repeat(2,1fr);
    box-shadow: 2px 2px 10px var(--shadow);
    border-radius: 9px;

}
.contenedor .item-1{
    background-color:var(--withe);
    grid-column-start:1 ;
    grid-column-end: -1;
    color: var(--Grayish-Blue);
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
}
.contenedor .item-1 h2{
    color:var(--Cyan);


}
.contenedor .item-1 strong{
    color:var(--Bright-Yellow);
}
.contenedor .item-2{
    background-color: rgb(0, 183,179);
    border: 1px solid  var(--Light-Gray);
   border-bottom-left-radius: 9px;
   
}
.contenedor .item-2 h2{
    font-size:16px ;
}
.contenedor .item-2 strong{
    font-size:50px ;
}
.contenedor .item-2 span{
  color: var(Light-Gray);
}
.contenedor .item-2 .card-text{
    color: var(Light-Gray);
}

button{
    width: 205px;
height: 40px;
color:var(--withe);
background-color: var(--Bright-Yellow);
border-radius: 6px;
    font-weight: 700;
    font-size: .6rem;
}

.contenedor .item-3{
    background-color:var(--Cyan);
    border-bottom-right-radius: 9px;
    font-size: 16px;
}
.contenedor .item-3 h2 {
    font-size: 16px;
}
.contenedor .item-3 p{
    font-size: 16px;
    color: var(Light-Gray);
}
@media screen and (max-width:375px){

    .contenedor{
        display: grid;
        width: 350px;
        height: 500px;
        grid-template-rows: repeat(1,1fr);
        grid-template-columns: repeat(1,1fr);
    }
    .contenedor .item-2{
        border-radius: 1px;
    }
    .item-1,
    .item-2,
    .item-3{
        border-radius: 1px
    }
}

@media screen and (max-width:414px){
    .contenedor{
        display: grid;
        width: 350px;
        height: 500px;
        grid-template-rows: repeat(1,1fr);
        grid-template-columns: repeat(1,1fr);
    }
    .contenedor .item-2{
        border-radius: 1px;
    }
    .item-1,
    .item-2,
    .item-3{
        border-radius: 1px
    }
}