.item-3{
    background-color: $Cyan;
    border-bottom-right-radius: 9px;
    font-size: $Font-size;
}

.item-3{
    h2{
        font-size: $Font-size;
    }
}

.item-3 {
    p{
        font-size: $Font-size;
        color: $Light-Gray;
    }
}