@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');
$Cyan: hsl(179, 62%, 43%);
$Bright-Yellow: hsl(71, 73%, 54%);
$Light-Gray: hsl(204, 43%, 93%);
$Grayish-Blue: hsl(218, 22%, 67%);
$Font-size: 16px;
$backg:rgb(240, 240, 240);
$withe:white;
$shadow:rgba(0, 0,0, 25%);